<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />
  <title>Log In – EventScape</title>
</head>
<body>
  <div class="login">
    <div class="brand">
      <img class="brand-logo" src="logo.svg" alt="EventScape logo">
      <span class="brand-text">EventScape</span>
    </div>
    <div class="card">
      <img class="login-big-white" src="login-big-white-rectangle.svg" alt="">
      <div class="card-body">
        <label class="label" for="email">Email</label>
        <input class="field" id="email" type="email" autocomplete="email" />

        <label class="label" for="password">Password</label>
        <input class="field" id="password" type="password" autocomplete="current-password" />

        <div class="actions">
          <a class="pill pill-back" href="./main">
            <img class="pill-bg" src="red-rectangle.svg" alt="">
            <span>Go Back</span>
          </a>

          <a class="pill pill-primary" href="./dashboard">
            <img class="pill-bg" src="green-rectangle.svg" alt="">
            <span>Log In</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>