services:
  db:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: SecurePassword
      POSTGRES_DB: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DB_USER: postgres
      DB_PASSWORD: SecurePassword
      DB_NAME: postgres
      DB_HOST: db
      DB_PORT: 5432
      SESSION_SECRET: eventscapesession
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
        restart: true
networks:
  app-network:
    driver: bridge
volumes:
  db-data: