apiVersion: apps/v1
kind: Deployment
metadata:
    name: node-app
spec:
    replicas: 1
    strategy:
        type: RollingUpdate
        rollingUpdate:
            maxUnavailable: 1
            maxSurge: 1
    selector:
        matchLabels:
            app: node-app
    template:
        metadata:
            labels:
                app: node-app
        spec:
            containers:
                - name: eventscape-app
                  image: eventscape-app:1.0
                  imagePullPolicy: Never
                  ports:
                      - containerPort: 3000
                  env:
                      - name: DB_HOST
                        value: "postgres"
                      - name: DB_PORT
                        value: "5432"
                      - name: DB_USER
                        value: "postgres"
                      - name: DB_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: secrets
                                key: PASSWORD
                      - name: DB_NAME
                        value: "postgres"
                  readinessProbe:
                      httpGet:
                          path: /status
                          port: 3000
                      initialDelaySeconds: 5
                      periodSeconds: 10
