apiVersion: apps/v1
kind: Deployment
metadata:
    name: postgres
spec:
    replicas: 1
    strategy:
        type: RollingUpdate
        rollingUpdate:
            maxUnavailable: 1
            maxSurge: 1
    selector:
        matchLabels:
            app: postgres
    template:
        metadata:
            labels:
                app: postgres
        spec:
            containers:
                - name: postgres
                  image: "postgres:14"
                  ports:
                      - containerPort: 5432
                  env:
                      - name: POSTGRES_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: secrets
                                key: DB_PASSWORD
                  volumeMounts:
                      - mountPath: /var/lib/postgresql/data
                        name: postgres-data
                      - mountPath: /docker-entrypoint-initdb.d
                        name: postgresdb-loadsql
                  readinessProbe:
                      exec:
                          command:
                              - pg_isready
                              - -U
                              - postgres
                      initialDelaySeconds: 5
                      periodSeconds: 10
            volumes:
                - name: postgresdb-loadsql
                  configMap:
                      name: postgres-cm
                - name: postgres-data
                  persistentVolumeClaim:
                      claimName: postgres-pvc
